body,
html {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: hidden;

}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}


html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 300;

}