.contact-content {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding-left: 72px;
    border: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    width: 75%;
    padding-right: 20px;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.contact-content p {
    scroll-snap-align: end;
}

a {
    color: white;
}