.shop-link-container {
    position: relative;
    display: inline-block;
}

.text-reveal-mask {
    display: inline-block;
    overflow: hidden;
    height: 0;
    position: relative;
    transform-origin: bottom;
    overflow: visible;
    padding-right: 15px;
}

.shop-link {
    position: relative;
    text-decoration: none;
    color: inherit;
    display: inline-block; /* Ensure it moves independently of the bullet point */
    transition: transform 0.3s ease-out; /* Add transition for smooth effect */
}

.shop-link:hover {
    transform: translateX(10px); /* Adjust the value for desired indentation */
}

.shop-links {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 72px;
    border: 0;
    margin-top: 35px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.shop-link {
    font-size: 3.33vw;
    font-weight: 300;
    text-decoration: none;
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
    background: none;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    position: relative;
}

.shop-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust based on the text size */
    height: 2px;
    width: 100%;
    background-color: #E0BB20; /* Underline color */
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-out;
}

.shop-link:hover::after,
.shop-link:focus::after {
    transform: scaleX(1);
    transform-origin: left;
}

.shop-link:focus,
.shop-link:hover {
    outline: none;
    color: #E0BB20;
}

.title {
    display: inline-block;
    margin: 0; /* Adjust as needed */
}

.shop-items-container {
    background-color: yellow;
    width: 100vw;

}

.shopItems {
    padding-left: 125px;
    padding-right: 72px;
    margin-top: 35px;
    color: white;
    background-color: red;
    width: 100%;
}

.shopItems h2 {
    font-size: 4vw;
    font-weight: 300;
    margin-bottom: 20px;
}

.shopItems ul {
    list-style: none;
    padding: 0;
}

.shop-items li {
    font-size: 3.33vw;
    margin-bottom: 10px;
}

.shopItem {
    width: 11.458vw;
    height: 11.458vw;
    background-color: gray;
    border-radius: 1.302vw;
}